html{
    font-size: 62.5%; /* a cada 1rem sera considerado 10px (1.6rem = 16px) */
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    background-color: lightgray;
}
.menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.navegacaoHamburguer{
    display: none;
}
.navegacaoMenu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 20px;
}
.imgNome img{
    height: 150px;
    width: 200;
    margin-left: 20px;
}
.iconesTopo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.iconesTopo img{
    height: 30px;
    width: 30px;
    margin: 10px 20px;
}
.iconesTopo img:hover{
    height: 35px;
    width: 35px;
    margin: 5px 17px;
}
.btnMenu span a{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px;
    border-radius: 10px;
    margin: 6px 10px;
}
.btnMenu span a:hover{
    background-color: darkgray;
}
.slide{
    height: 400px;
    background-image: url(../imagens/slide1.jpg);
    background-size: cover;
    color: white;
    animation: slide 30s infinite;
}
    @keyframes slide{
        33%{
            background-image: url(../imagens/slide2.jpg);
            background-size:cover;
        }
        66%{
            background-image: url(../imagens/slide3.jpg);
            background-size:cover;
        }
        100%{
            background-image: url(../imagens/slide4.jpg);
            background-size:cover;
        }
    }
.linguagens{
    /* padding-top: 10%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.linguagens span{
    display: flex;
    align-items: center;
    margin: 10px 50px;
    max-width: 350px;
}
.linguagens span div{
    text-align: center;
}
.linguagens span img{
    height: 50px;
    width: 50px;
}
.corpo{
    display: flex;
    justify-content: center;
}
.titulo{
    height: 70px;
    color: white;
    background-color: black;
    font-size: 4.0rem;
    width: 100%;
    margin-top: 0;
    text-align: center;
}
.campoProjetos{
    width: 50%;
    background-color: rgb(172, 172, 172);
    margin: 10px 40px;
    border: 1px solid black;
}
.campoProjetos section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about{
    width: 30%;
    background-color: rgb(172, 172, 172);
    margin: 10px 40px;
    border: 1px solid black;
    max-height: 650px;
}
.about div{
    display: flex;
    overflow-y: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.about div img{
    width: 300px;
    height: 250px;
    border-radius: 5%;
    border: 2px solid silver;
    align-self: center;
    margin-bottom: 30px;
}
.about div h2{
    background-color: black;
    color: white;
    margin: 0px 10px;
}
.about div h3{
    background-color: black;
    color: white;
    margin: 0px 10px;
}
.about div p{
    padding: 0px 30px;
}
.projetos{
    max-width: 200px;
    background-color: lightgray;
    margin: 20px 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.projetos span img{
    height: 120px;
    width: 150px;
    margin: 5px 20px;
    border-radius: 30%;
    border: 1px solid black;
}
.listaCursos{
    text-align: justify;
}
.listaCursos li ol{
    text-align: justify;
}
.listaCursos li ol li{
    padding: 0px 10px;
}
.btnProjetos{
    margin-top: auto;

}
.projetos span a{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px;
    border-radius: 10px;
}
.projetos span a:hover{
    background-color: darkgray;
}

/* ====================================
     inicio responsividade 
    ==================================*/

@media (max-width: 1024px){ /* toda pagina */
    .slide{
        overflow-y: auto ;
    }
    .campoProjetos section{
        overflow-y: auto;
        max-height: 800px;
    }
}
@media (max-width: 768px){ /* foto campo sobre */
    html{
        font-size: 50%;
    }
    .campoProjetos section{
        max-height: 750px;
    }
    .about div img {
        width: 200px;
        height: 150px;
    }
}
@media (max-width: 620px){ /* toda pagina */
    .menuSection.ON{
        position: absolute;
        background-color: lightgray;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuSection.ON .navegacaoMenu{
        display: flex;
        flex-direction: column;
    }
    .menuSection.ON .navegacaoMenu .iconesTopo{
        margin: 30px;
    }
    .menuSection.ON .navegacaoHamburguer{
        position: absolute;
        right: 0;
        top: 0;
    }
    .menuSection.ON .navegacaoHamburguer .hamburguer1{
        transform: rotate(45deg) translate(7px, 9px);
    }
    .menuSection.ON .navegacaoHamburguer .hamburguer2{
        opacity: 0;
    }
    .menuSection.ON .navegacaoHamburguer .hamburguer3{
        transform: rotate(-45deg) translate(7px, -9px);
    }
    .navegacaoHamburguer{
        display:block ;
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
    .hamburguer1, .hamburguer2, .hamburguer3{
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    .navegacaoMenu{
        display: none;
    }
    .linguagens{
        flex-wrap: wrap;
    }
    .corpo{
        flex-direction: column-reverse;
    }
    .about{
        width: 90%;
        align-self: center;
    }
        .about div{
            margin: 10px 30px;
        }
    .campoProjetos{
        width: 90%;
        align-self: center;
    }
}