html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../files/imagens/fundoGif.gif);
}
body>section{
    width: 70%;
}
.campo__certificados{
    display: flex;
    position: relative;
    margin: auto;
}
.campo__certificados object{
    width: 100%;
    height: 100vh;
}
@media (max-width: 750px) {
    body>section{
        width: 100%;
    }
}
