html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
body>section{
    width: 50%;
}
.campo__certificados{
    display: flex;
    position: relative;
}
.campo__certificados object{
    width: 100%;
    height: 100vh;
}