html {
    font-size: 62.5%;
    /* a cada 1rem sera considerado 10px (1.6rem = 16px) */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    background-color: lightgray;
}

.menu {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    min-height: 150px;
}

.navegacaoHamburguer {
    display: none;
}

.navegacaoMenu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 20px;
}

.imgNome img {
    height: 150px;
    width: 200px;
    margin-left: 20px;
    transition: 0.5s;
}

.iconesTopo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.iconesTopo img {
    height: 40px;
    width: 40px;
    margin: 18px 20px;
    transition: 0.5s;
}

.iconesTopo img:hover {
    transform: translateY(-5px);
    opacity: 0.5;
}

.btnMenu {
    display: flex;
}

.btnMenu a {
    text-decoration: none;
}

.btnMenu a div {
    font-weight: bolder;
    width: 80px;
    padding: 8px;
    border-radius: 10px;
    margin: 6px 10px;
    text-align: center;
    transition: 0.5s;
    position: relative;

    background-color: transparent;
    color: rgb(1, 255, 255);
    box-shadow: 3px 3px 3px rgb(1, 255, 255);
    border-top: 1px solid rgb(1, 255, 255);
    border-left: 1px solid rgb(1, 255, 255);
}

.btnMenu a div:hover {
    background-color: rgb(1, 255, 255);
    color: black;
    box-shadow: none;
    filter: drop-shadow(0 0 10px rgb(1, 255, 255)) contrast(2) brightness(2);

}

main {
    background-image: url(../files/imagens/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.carousel {
    position: relative;
}

.carousel button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.carousel button span {
    height: 60px;
    width: 60px;
}

.skils {
    text-align: center;
    position: relative;
}

.skils h1 {
    color: white;
    font-size: 30px;
    margin: 40px auto 10px auto;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    color: white;
    margin: auto;
}

.linguagens span {
    display: flex;
    align-items: center;
    margin: 10px 50px;
    width: 350px;
}

.linguagens span div {
    text-align: center;
}

.linguagens span div p {
    font-size: 1.5rem;
}

.linguagens span div h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.linguagens span img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    transition: 0.5s;
    animation: flutuando 3s ease-in-out infinite;
}

@keyframes flutuando {
    50% {
        transform: translateY(-15px);
    }
}

.sobre {
    /* height: 500px; */
    padding: 25px 25px 50px 25px;
    text-align: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-image: linear-gradient(to right, black, silver);
}

.sobre div span {
    width: calc(100vw/3);
}

.sobre h1 {
    font-size: 30px;
    color: black;
}

.sobre hr {
    width: 50%;
    height: 7px;
    margin: 10px auto;
    background-color: rgb(0, 204, 255);
    box-shadow: 0 10px 5px black;
    border-radius: 50%;
    animation: efeitohr 5s ease-in-out infinite;
    transition: 1s;
}

@keyframes efeitohr {
    50% {
        width: 10%;
    }
}

.sobre-conteudo {
    display: flex;
    align-items: flex-start;
    margin: 50px;
    height: 70%;
    justify-content: center;
}

.sobre-conteudo span h2 {
    font-size: 30px;
}

.sobre-conteudo span p {
    font-size: 1.7rem;
    font-weight: bold;
}

.sobre-conteudo-caixa1 {
    color: white;
}

.sobre-conteudo-img {
    margin: 10px 50px;
    align-self: center;
}

.sobre-conteudo-img img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.projetos {
    padding: 30px;
}

.projetos>h1 {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.projeto {
    background-color: rgb(219, 220, 225);
    padding: 20px;
    width: 600px;
    min-height: 300px;
    margin: 50px auto 150px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(128, 128, 128);
    box-shadow: -15px 100px 60px black;
}

.projeto::before {
    background-color: rgb(128, 128, 128);
    content: "";
    left: 0;
    position: absolute;
    transform: translate(-100%, 0) skewY(-45deg);
    transform-origin: left top;
    height: 100%;
    width: 20px;
}

.projeto::after {
    background-color: rgb(104, 104, 104);
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    transform: translate(0, 100%) skewX(-45deg);
    transform-origin: left top;
    height: 20px;
    width: 100%;
}

.projeto a {
    text-decoration: none;
    text-transform: capitalize;
    align-self: center;
    font-weight: bolder;
    font-size: 20px;
    width: 150px;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-color: transparent;
    color: black;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 2px;
    transition: 1s;
    cursor: pointer;
}

.projeto a:hover {
    text-shadow: 3px 3px 3px black;
    color: black;
    box-shadow: 0 5px 10px black;
}

.projeto h1 {
    text-align: center;
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
}

.projeto-conteudo {
    display: flex;
    margin-top: 20px;
}

.projeto-conteudo figure {
    margin-right: 30px;
}

.projeto-conteudo figure img {
    height: 150px;
    width: 200px;
    border: 2px solid darkgrey;
}

.projeto-conteudo span {
    align-items: flex-start;
    display: flex;
}

.projeto-conteudo span p {
    font-size: 18px;
    color: black;
}

/* ====================================
     inicio responsividade 
    ==================================*/

@media (max-width: 768px) {
    .sobre div span {
        width: 90%;
    }

    .sobre-conteudo {
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
    }

    .sobre-conteudo-img {
        order: 3;
        position: absolute;
        opacity: 0.4;
    }

    .sobre-conteudo-img img {
        width: 50vw;
        height: 50vw;
    }

    .sobre-conteudo-caixa2 {
        margin: 20px auto;
        width: 90%;
        color: white;
    }

    .sobre-conteudo-caixa1 {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 700px) {

    .imgNome {
        display: flex;
        align-items: center;
    }

    .imgNome img {
        height: 25vw;
        width: 30vw;
    }

    .menu {
        min-height: 80px;
    }

    .menuSection.ON {
        position: absolute;
        background-color: lightgray;
        width: 100vw;
        height: 100vh;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuSection.ON .navegacaoMenu {
        display: flex;
        flex-direction: column;
    }

    .menuSection.ON .navegacaoMenu .iconesTopo {
        margin: 30px;
    }

    .menuSection.ON .navegacaoHamburguer {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menuSection.ON .navegacaoHamburguer .hamburguer1 {
        transform: rotate(45deg) translate(7px, 9px);
    }

    .menuSection.ON .navegacaoHamburguer .hamburguer2 {
        opacity: 0;
    }

    .menuSection.ON .navegacaoHamburguer .hamburguer3 {
        transform: rotate(-45deg) translate(7px, -9px);
    }

    .navegacaoHamburguer {
        display: block;
        width: 40px;
        height: 30px;
        margin: 50px
    }

    .hamburguer1,
    .hamburguer2,
    .hamburguer3 {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .navegacaoMenu {
        display: none;
    }

    .projeto {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .projeto-conteudo {
        flex-direction: column;
        margin: auto;
    }

    .projeto-conteudo figure {
        margin: 15px;
    }

    .projeto-conteudo span {
        margin: 20px auto;
    }

    .sobre {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        padding: 10px;
    }

    .sobre-conteudo {
        margin: 10px;
    }
}

@media (max-width: 375px) {
    .projeto-conteudo figure img {
        width: 100%;
    }
}